<div class="container mt-5" style="width: 400px;">
    <div class="row m-1">
        <h2 class="text-center">User Register</h2>
    </div>
    <div class="row m-2">
        <input type="text" class="form-control" placeholder="Enter user name" [(ngModel)]="userName">
    </div>
    <div class="row m-2">
        <div class="col text-center">
            <button type="button" class="btn btn-success" style="height: 40px; width: 140px;" (click)="submitUser()">Submit</button>
        </div>
    </div>    
</div>